body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.toggleButton {
  text-align: right;
}

col.itemTitle {
  width: 40%;
}

col.itemCheckbox {
  width: 20%;
}
